<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100 wow zoomIn" src="img\about1.jpg"  alt="about1">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75 wow zoomIn" src="img\about2.jpg" style="margin-top:33%" alt="about2">
                    </div>
                    <div class="col-6 text-end ">
                        <img class="img-fluid rounded w-75 wow zoomIn" src="img\about3.jpg"  alt="about3">
                    </div>
                    <div class="col-6 text-end ">
                        <img class="img-fluid rounded w-100 wow zoomIn" src="img\about4.jpg"  alt="about4">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h5 class="section-title ff-secondary text-start text-primary fw-bolder">About Us</h5>
                <h1 class="mb-4">Welcome To <i class="fa fa-utensils text-primary me-2"></i> Restaurant</h1>
                <p class="mb-4">aslnd l;kasnmd lnaalkn  alsklka s lasjknas l alkn as d  asd asd as asd as d asd f ga sf asf as dfas fas f af asf asf as fas fas d as d asd </p>
                <p class="mb-4">aslnd l;kasnmd lnaalkn  alsklka s lasjknas l alkn as d  asd asd as asd as d asd f ga sf asf as dfas fas f af asf asf as fas fas d as d asd </p>
                <div class="row g-4 mb-4">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display text-primary mb-0">10</h1>
                            <div class="ps-4">
                                <p class="mb-0">Year Of</p>
                                <h6 class="text-uppercase mb-0">Experience</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex">
                            <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                <h1 class="flex-shrink-0 display-5 text-primary mb-0">50</h1>
                                <div class="ps-4">
                                    <p class="mb-0">Populer</p>
                                    <h6 class="text-uppercase mb-0">Master Chefs</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="" class="btn btn-primary py-3 px-5 mt-2">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>