<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fade-in-up">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="section-title ff-secondary text-shart text-primary fw-normal mb-4">Company</h4>
                <a href="" class="btn btn-link">About</a>
                <a href="" class="btn btn-link">Contact Us</a>
                <a href="" class="btn btn-link">Resvation</a>
                <a href="" class="btn btn-link">Privacy Policy</a>
                <a href="" class="btn btn-link">Teams & Condition</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <h4 class="section-title ff-secondary text-shart text-primary fw-normal mb-4">Connect</h4>
        <p class="mb-2"><i class="fa fa-map-marker-alt"> </i>123 Regent Wollongong</p>
        <p class="mb-2"><i class="fa fa-phone-alt"> </i>02-420-63899</p>
        <div class="d-flex pt-2">
            <a href="" class="btn btn-outline-light btn-social"> <i class="fab fa-facebook"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <h4 class="section-title ff-secondary text-shart text-primary fw-normal mb-4">Opening</h4>
        <h5 class="text-light fw-normal">Monday - Sunday</h5>
        <p>11AM - 3PM</p>
        <p>5PM - 9PM</p>
    </div>
    <div class="col-lg-3 col-md-6">
        <h4 class="section-title ff-secondary text-shart text-primary fw-normal mb-4">Newsletter</h4>
        <p>asdalkdnasljbnd lasnd ljk alnbd ljkasn lan l aslhnldka slkns lkans  aslns </p>
        <div class="position-relative mx-auto">
            <input class="form-control border-primary w-100 py-3 ps-4 pee-5" type="text">
            <button class="btn btn-primary py-2 position-absolute top-0 end-0 me-2">Signup</button>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 col-lg-12 text-center mb-3 mb-md-0 col-lg-12">
                    &copy; <a class="border-bottom" href="">Your Site Name, All Right Reserved</a>
                </div>
            </div>
        </div>
    </div>
</div>