<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fade-in-up">
    <div class="container py-5">
        <div class="row">
            <div class="col col-m-3">
                <img src="./img/logo.png" alt="ThaiGong Restaurant">
            </div>
            <div class="col col-m-3">
                <h4 class="section-title ff-secondary text-shart text-primary fw-normal mb-4">The ThaiGong Restaurant</h4>
                <h6>187 Keira St, Wollongong NSW 2500</h6>
                <h6>Lunch: 11:30 am - 3 pm</h6>
                <h6>Dinner: 5:00 pm - 9:30 pm</h6>
            </div>
            <div class="col col-m-3">
                
            </div>
            <div class="col col-md-3">
                <h4 class="section-title footer-title ff-secondary text-shart text-primary fw-normal mb-4">Find Us Online</h4>
                <div class="justify-content-center">
                    <a class="btn btn-square btn-primary mx-1" href="">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="btn btn-square btn-primary mx-1" href="">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="btn btn-square btn-primary mx-1" href="">
                        <i class="fab fa-facebook"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyrights col-md-6 col-lg-12 text-center mb-3 mb-md-0 col-lg-12">
            <u>&copy;2023-2024, The ThaiGong Restaurant. All Rights Reserved. Privacy Policy</u>
        </div>
    </div>
</div>