<div class="container--xxl position-relative p-0">
    <div class="container--xxl py-5 bg-dark hero-header mb-5">
        <div class="container my-5 py-5">
            <div class="row align-items-center g-5">
                <div class="col-lg-6 text-center text-lg-start">
                    <h1 class="display-3 text-white animated slider-in-left">Enjoy Our<br/> Delicious Meal</h1>
                    <p class="text-white animated slider-in-left mb-4 pb-2">anl;kdlikasli;dkahnljkidbnaslikhnd lahjsdlkhjasl k alsjhdlkasj dl lakjsd ljaa lsjd lkasj d alk;jsd lkjasalsk jdlkasj  lkasjdlk jhaslkash  alslasldjl  lajlks djlaks aslksjn lkajl lkajkl  lakjs ldjala ksnlkd sasl kjdlkalak snl nlkja lknalk nlkasnd lkn aslkdnlkasn  lkasnlkjdn.</p>
                    <a href="" class="btn btn-primary py-sm-3 px-sm-5 slider-in-left">Book A Table</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 text-center text-lg-end overflow-hidden">
            <img src="img/hero.png" class="img-fluid" alt="">
        </div>
    </div>
</div>