<div class="container--xxl py-5">
    <div class="container">
        <div class="text-center wow fade-in-up">
            <h5 class="section-title ff-secondary text-center text-primary">
                Food Menu
            </h5>
            <h1 class="mb-5">
                Most populer Items
            </h1>
            <div class="tab-class text-center wow fade-in-up" data-wow-delay="0.1s">
                <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                    <li class="nav-item">
                        <a href="" class="d-flex align-items-center text-start mx-3 pb-3">
                            <i class="fa fa-hamburger fa-2x text-primary"></i>
                            <div class="ps-3">
                                <small class="text-body">Special</small>
                                <h6 class="mt-n1 mb-0">Lunch</h6>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="d-flex align-items-center text-start mx-3 pb-3">
                            <i class="fa fa-utensils fa-2x text-primary"></i>
                            <div class="ps-3">
                                <small class="text-body">Lovely</small>
                                <h6 class="mt-n1 mb-0">Dinner</h6>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="teb-content">
                    <div class="tab-pane fade show p-0 active">
                        <div class="row g-4">
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img src="img/menu-1.jpg" class="flex-shrink-0 img-fluid rounded">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Chicken Burger</span>
                                            <span class="text-primary">$100</span>
                                        </h5>
                                        <small class="fst-italic">
                                            kansdlknsa lkasnd lkasndkl alksnd alks ndla aslkncx aa slksdn as lkdn asl knd asdlkdn aslkn
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img src="img/menu-1.jpg" class="flex-shrink-0 img-fluid rounded">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Chicken Burger</span>
                                            <span class="text-primary">$100</span>
                                        </h5>
                                        <small class="fst-italic">
                                            kansdlknsa lkasnd lkasndkl alksnd alks ndla aslkncx aa slksdn as lkdn asl knd asdlkdn aslkn
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img src="img/menu-1.jpg" class="flex-shrink-0 img-fluid rounded">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Chicken Burger</span>
                                            <span class="text-primary">$100</span>
                                        </h5>
                                        <small class="fst-italic">
                                            kansdlknsa lkasnd lkasndkl alksnd alks ndla aslkncx aa slksdn as lkdn asl knd asdlkdn aslkn
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img src="img/menu-1.jpg" class="flex-shrink-0 img-fluid rounded">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Chicken Burger</span>
                                            <span class="text-primary">$100</span>
                                        </h5>
                                        <small class="fst-italic">
                                            kansdlknsa lkasnd lkasndkl alksnd alks ndla aslkncx aa slksdn as lkdn asl knd asdlkdn aslkn
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>