<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fade-in-up" data-wow-duration="2s" data-wow-delay="2s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                        <h5>Master Chefs</h5>
                        <p>n;aksnd; lkasnd;kl asn;lkdanskl; dnasl;kdn saklnsd lnasndlska</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fade-in-up">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-utensils text-primary mb-4"></i>
                        <h5>Quality Chefs</h5>
                        <p>n;aksnd; lkasnd;kl asn;lkdanskl; dnasl;kdn saklnsd lnasndlska</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fade-in-up">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-utensils text-primary mb-4"></i>
                        <h5>Quality Food</h5>
                        <p>n;aksnd; lkasnd;kl asn;lkdanskl; dnasl;kdn saklnsd lnasndlska</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fade-in-up">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-cart-plus text-primary mb-4"></i>
                        <h5>Online Order</h5>
                        <p>n;aksnd; lkasnd;kl asn;lkdanskl; dnasl;kdn saklnsd lnasndlska</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>