<div class="container-xxl pt-65 pb-3">
    <div class="container">
        <div class="text-center wow fade-in-up">
            <h5 class="section-title ff-secondary text-center text-primary fw-nomal">
                Team Member
            </h5>
            <h1 class="mb-5">Our Master Chefs</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 wow fade-in-up">
            <div class="team-item text-center rounded overflow-hidden m-4">
                <div class="rounded-circle overflow-hidden m-4">
                    <img class="img-fluid" src="img/team-1.jpg" alt="team1">
                </div>
                <h5 class="mb-0">Full Name</h5>
                <small>Designtion</small>
                <div class="d-flex justify-content-center mt-3">
                    <a class="btn btn-square btn-primary mx-1" href="">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="btn btn-square btn-primary mx-1" href="">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="btn btn-square btn-primary mx-1" href="">
                        <i class="fab fa-facebook"></i>
                    </a>
                </div>
            </div>
        </div>   
        <div class="col-lg-3 col-md-6 wow fade-in-up">
            <div class="team-item text-center rounded overflow-hidden m-4">
                <div class="rounded-circle overflow-hidden m-4">
                    <img class="img-fluid" src="img/team-2.webp" alt="team2">
                </div>
                <h5 class="mb-0">Full Name</h5>
                <small>Designtion</small>
                <div class="d-flex justify-content-center mt-3">
                    <a class="btn btn-square btn-primary mx-1" href="">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="btn btn-square btn-primary mx-1" href="">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="btn btn-square btn-primary mx-1" href="">
                        <i class="fab fa-facebook"></i>
                    </a>
                </div>
            </div>
        </div> 
        <div class="col-lg-3 col-md-6 wow fade-in-up">
            <div class="team-item text-center rounded overflow-hidden m-4">
                <div class="rounded-circle overflow-hidden m-4">
                    <img class="img-fluid" src="img/team-3.jpg" alt="team2">
                </div>
                <h5 class="mb-0">Full Name</h5>
                <small>Designtion</small>
                <div class="d-flex justify-content-center mt-3">
                    <a class="btn btn-square btn-primary mx-1" href="">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="btn btn-square btn-primary mx-1" href="">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="btn btn-square btn-primary mx-1" href="">
                        <i class="fab fa-facebook"></i>
                    </a>
                </div>
            </div>
        </div> 
        <div class="col-lg-3 col-md-6 wow fade-in-up">
            <div class="team-item text-center rounded overflow-hidden m-4">
                <div class="rounded-circle overflow-hidden m-4">
                    <img class="img-fluid" src="img/team-4.jpg" alt="team2">
                </div>
                <h5 class="mb-0">Full Name</h5>
                <small>Designtion</small>
                <div class="d-flex justify-content-center mt-3">
                    <a class="btn btn-square btn-primary mx-1" href="">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="btn btn-square btn-primary mx-1" href="">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="btn btn-square btn-primary mx-1" href="">
                        <i class="fab fa-facebook"></i>
                    </a>
                </div>
            </div>
        </div> 
    </div>
</div>